<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header id='primary-navbar' class='d-flex align-items-center justify-content-around px-sm-5'>

        <%= link_to 'SPLURTY', root_path, :class => 'bold h4', :id => 'logo' %>

        <h1 id='slogan' class='h6 hidden-md-down mr-auto ml-5 small'> - Splurting out Arnold Schwarzenneger movie quotes for fun!</h1>

        <nav id='primary-navigation'>
          <%= link_to 'Contribute', new_quote_path, :class => 'pr-2 pr-sm-4'  %>
          <%= link_to 'About Us', about_path, :class => 'pl-2 pl-sm-4' %>
        </nav>

    </header>

    <main class='d-flex flex-column align-items-center px-5 mt-4'>
      <% if flash[:error].present? %>
        <%= flash[:error].html_safe %>
      <% end %>

      <%= yield %>
    </main>

    <footer class='fixed d-flex flex-column align-items-center justify-content-center py-4 px-5'>
        <%= link_to 'This isn\'t enough, I want more!', root_path, class: 'mb-auto mr-md-auto next-quote' %>
        <p class='mt-auto ml-md-auto small'>Proudly built by Davey in Bridgend, Wales.</p>
    </footer>

  </body>
</html>
