<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class='d-flex align-items-center justify-content-around px-sm-5'>

        <%= link_to 'SPLURTY', root_path, :class => 'bold brand-color h4 mb-0', :id => 'logo' %>

        <h1 class='h6 hidden-md-down mr-auto ml-5 serif italic mb-0'> - Splurting out Arnold Schwarzenneger movie quotes for fun!</h1>

        <nav>
          <%= link_to 'Contribute', new_quote_path, :class => 'bold pr-2 pr-sm-4', data: { toggle: 'modal', target: '#newQuoteModal' } %>
          <%= link_to 'About Us', about_path, :class => 'bold pl-2 pl-sm-4' %>
        </nav>
    </header>

    <div class="modal fade" id="newQuoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="pl-4 h5 modal-title" id="myModalLabel">Contribute your favourite Arnie movie quote!</h4>
          </div>
          <%= simple_form_for Quote.new do |f| %>
            <div class="modal-body">
                <%= f.input :saying, label: 'What is your favourite Arnie movie Quote?', placeholder: 'Your clothes, give them to me, now!' %>
                <%= f.input :movie_reference, label: 'What movie is it from?', placeholder: 'Terminator' %>
            </div>
            <div class="modal-footer">
              <%= f.submit :'Create', class: 'btn create' %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <main class='d-flex flex-column align-items-center px-5 mt-4'>
      <% if flash[:error].present? %>
        <%= flash[:error].html_safe %>
      <% end %>

      <%= yield %>
    </main>

    <footer class='d-flex flex-column align-items-center justify-content-center py-4 px-5'>
        <%= link_to 'This isn\'t enough, I want more!', root_path, class: 'h5 mb-auto mr-md-auto italic brand-color bold serif mb-0 next-quote' %>
        <p class='mt-auto ml-md-auto serif italic'>Proudly built by <a class='bold brand-color' href="https://github.com/Davey-Wright">Davey</a> in Bridgend, Wales.</p>
    </footer>

  </body>
</html>
