<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id='primary-navbar' class='d-flex align-items-baseline justify-content-around py-4'>

        <%= link_to 'SPLURTY', '#', :class => 'bold h4', :id => 'logo' %>

        <h1 id='slogan' class='h6 hidden-sm-down'><em>Splurting out Arnold Schwarzenneger quotes for fun!</em></h1>

        <nav>
          <%= link_to 'Contribute', '#', :class => 'pr-2 pr-sm-4'  %>
          <%= link_to 'About Us', '#', :class => 'pl-2 pl-sm-4' %>
        </nav>

    </header>
    <%= yield %>
  </body>
</html>
